@import url('https://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap');

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes walkText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .walking-text {
    animation: walkText 16s linear infinite;
  }

  ::-webkit-scrollbar {
    display: none;
}
html{
    background-color: rgb(239,241,253);
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}
.font1{
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font2{
  font-family: 'Pixelify Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.sosmed .icon-white svg {
fill: white;
}

@media (min-width: 0px) and (max-width: 576px) {
.container{
    padding-top: 25%;
    padding-bottom: 40%;
    width: 90% !important;
    display: flex !important;
    flex-direction: column !important;
    /* margin: auto !important;
    align-content: center !important;
    align-items: center !important;
    row-gap: -20% !important; */
}
.container .profilPics{
    width: 80% !important;
    align-items: center !important;
    justify-content: center !important;
}
.aboutMe{
    width: 80% !important;
    text-align: justify;
    padding-top: 3rem !important;
}
h1{
    font-size: 2rem !important;
}
p{
    font-size: 1.2rem !important;
}
.sosmed{
    scale: 0.8 !important;
    left: 8px !important;
    bottom : 8px !important;
}
.container2{
    padding-top: 6% !important;
    height: auto !important;
    justify-content: center;
}
.content2{
    width: 80% !important;
}
.activity{
    flex-direction: column !important;
    align-items: center;
}
.card{
    margin-bottom: 6%;
    width: 18rem !important;
}
}